<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neil.user.mg_syllabus">
<uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/fdi"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Semester_Main" />
        <activity android:name=".Cse_Semester" />
        <activity android:name=".Ece_Semester" />
        <activity android:name=".Aei_Semester" />
        <activity android:name=".Eee_Semester" />
        <activity android:name=".It_Semester" />
        <activity android:name=".Ce_Semester" />
        <activity android:name=".Me_Semester" />
        <activity android:name=".Semester_IV_Cse" />
        <activity android:name=".Semester_V_Cse" />
        <activity android:name=".Semester_VI_Cse" />
        <activity android:name=".Semester_VII_Cse" />
        <activity android:name=".Semester_VIII_Cse" />
        <activity android:name=".Cse_IV_401" />
        <activity android:name=".Cse_IV_402" />
        <activity android:name=".Cse_IV_403" />
        <activity android:name=".Cse_IV_404" />
        <activity android:name=".Cse_IV_405" />
        <activity android:name=".Cse_IV_406" />
        <activity android:name=".Cse_IV_407" />
        <activity android:name=".Cse_IV_408" />
        <activity android:name=".Cse_V_502" />
        <activity android:name=".Cse_V_503" />
        <activity android:name=".Cse_V_504" />
        <activity android:name=".Cse_V_505" />
        <activity android:name=".Cse_V_506" />
        <activity android:name=".Cse_V_507" />
        <activity android:name=".Cse_V_508" />
        <activity android:name=".Cse_V_501" />
        <activity android:name=".Cse_VI_601" />
        <activity android:name=".Cse_VI_602" />
        <activity android:name=".Cse_VI_6062" />
        <activity android:name=".Cse_VI_603" />
        <activity android:name=".Cse_VI_604" />
        <activity android:name=".Cse_VI_605" />
        <activity android:name=".Cse_VI_6061" />
        <activity android:name=".Cse_VI_6063" />
        <activity android:name=".Cse_VI_6064" />
        <activity android:name=".Cse_VI_6065" />
        <activity android:name=".Cse_VI_6066" />
        <activity android:name=".Cse_VI_607" />
        <activity android:name=".Cse_VI_608" />
        <activity android:name=".Cse_VII_701" />
        <activity android:name=".Cse_VII_702" />
        <activity android:name=".Cse_VII_703" />
        <activity android:name=".Cse_VII_704" />
        <activity android:name=".Cse_VII_705" />
        <activity android:name=".Cse_VII_707" />
        <activity android:name=".Cse_VII_708" />
        <activity android:name=".Cse_VII_709" />
        <activity android:name=".Cse_VII_7010" />
        <activity android:name=".Cse_VII_7061" />
        <activity android:name=".Cse_VII_7062" />
        <activity android:name=".Cse_VII_7063" />
        <activity android:name=".Cse_VII_7064" />
        <activity android:name=".Cse_VIII_801" />
        <activity android:name=".Cse_VIII_802" />
        <activity android:name=".Cse_VIII_803" />
        <activity android:name=".mg_syllabus" />
        <activity android:name=".Cse_VIII_804L1" />
        <activity android:name=".Cse_VIII_804L2" />
        <activity android:name=".Cse_VIII_804L3" />
        <activity android:name=".Cse_VIII_804L4" />
        <activity android:name=".Cse_VIII_807" />
        <activity android:name=".Cse_VIII_806" />
        <activity android:name=".Cse_VIII_808" />
        <activity android:name=".Cse_VIII_805G3" />
        <activity android:name=".Cse_VIII_805G4" />
        <activity android:name=".Cse_VIII_805G6" />
        <activity android:name=".Semester_IV_Aei" />
        <activity android:name=".Semester_V_Aei" />
        <activity android:name=".Semester_VI_Aei" />
        <activity android:name=".Semester_VII_Aei" />
        <activity android:name=".Semester_VIII_Aei" />
        <activity android:name=".Semester_IV_Ce" />
        <activity android:name=".Semester_V_Ce" />
        <activity android:name=".Semester_VI_Ce" />
        <activity android:name=".Semester_VII_Ce" />
        <activity android:name=".Semester_VIII_Ce" />
        <activity android:name=".Semester_IV_Ece" />
        <activity android:name=".Semester_V_Ece" />
        <activity android:name=".Semester_VI_Ece" />
        <activity android:name=".Semester_VII_Ece" />
        <activity android:name=".Semester_VIII_Ece" />
        <activity android:name=".Semester_IV_Eee" />
        <activity android:name=".Semester_V_Eee" />
        <activity android:name=".Semester_VI_Eee" />
        <activity android:name=".Semester_VII_Eee" />
        <activity android:name=".Semester_VIII_Eee" />
        <activity android:name=".Semester_IV_Me" />
        <activity android:name=".Semester_V_Me" />
        <activity android:name=".Semester_VI_Me" />
        <activity android:name=".Semester_VII_Me" />
        <activity android:name=".Semester_VIII_Me" />
        <activity android:name=".Semester_IV_It" />
        <activity android:name=".Semester_V_It" />
        <activity android:name=".Semester_VI_It" />
        <activity android:name=".Semester_VII_It" />
        <activity android:name=".Semester_VIII_It" />
        <activity android:name=".Ce_IV_401" />
        <activity android:name=".Ce_IV_402" />
        <activity android:name=".Ce_IV_403" />
        <activity android:name=".Ce_IV_404" />
        <activity android:name=".Ce_IV_405" />
        <activity android:name=".Ce_IV_406" />
        <activity android:name=".Ce_IV_407" />
        <activity android:name=".Ce_IV_408" />
        <activity android:name=".Ce_V_501" />
        <activity android:name=".Ce_V_502" />
        <activity android:name=".Ce_V_503" />
        <activity android:name=".Ce_V_504" />
        <activity android:name=".Ce_V_505" />
        <activity android:name=".Ce_V_506" />
        <activity android:name=".Ce_V_507" />
        <activity android:name=".Ce_V_508" />
        <activity android:name=".Ce_VI_601" />
        <activity android:name=".Ce_VI_602" />
        <activity android:name=".Ce_VI_603" />
        <activity android:name=".Ce_VI_604" />
        <activity android:name=".Ce_VI_605" />
        <activity android:name=".Ce_VI_607" />
        <activity android:name=".Ce_VI_608" />
        <activity android:name=".Ce_VI_6061" />
        <activity android:name=".Ce_VI_6062" />
        <activity android:name=".Ce_VII_701" />
        <activity android:name=".Ce_VII_702" />
        <activity android:name=".Ce_VII_703" />
        <activity android:name=".Ce_VII_704" />
        <activity android:name=".Ce_VII_705" />
        <activity android:name=".Ce_VII_7061" />
        <activity android:name=".Ce_VII_7062" />
        <activity android:name=".Ce_VII_707" />
        <activity android:name=".Ce_VII_708" />
        <activity android:name=".Ce_VIII_801" />
        <activity android:name=".Ce_VIII_802" />
        <activity android:name=".Ce_VIII_803" />
        <activity android:name=".Ce_VIII_8041" />
        <activity android:name=".Ce_VIII_8042" />
        <activity android:name=".Ce_VIII_805" />
        <activity android:name=".Ce_VIII_806" />
        <activity android:name=".Ce_VIII_807" />
        <activity android:name=".Ce_VIII_808" />
        <activity android:name=".Ece_VIII_801" />
        <activity android:name=".Ece_VIII_802" />
        <activity android:name=".Ece_VIII_803" />
        <activity android:name=".Ece_VIII_804" />
        <activity android:name=".Ece_VIII_805" />
        <activity android:name=".Ece_VIII_806" />
        <activity android:name=".Ece_VIII_807" />
        <activity android:name=".Ece_VIII_808" />
        <activity android:name=".Ece_VII_701" />
        <activity android:name=".Ece_VII_702" />
        <activity android:name=".Ece_VII_703" />
        <activity android:name=".Ece_VII_704" />
        <activity android:name=".Ece_VII_705" />
        <activity android:name=".Ece_VII_706" />
        <activity android:name=".Ece_VII_707" />
        <activity android:name=".Ece_VII_708" />
        <activity android:name=".Ece_VI_601" />
        <activity android:name=".Ece_VI_602" />
        <activity android:name=".Ece_VI_603" />
        <activity android:name=".Ece_VI_604" />
        <activity android:name=".Ece_VI_605" />
        <activity android:name=".Ece_VI_606" />
        <activity android:name=".Ece_VI_607" />
        <activity android:name=".Ece_VI_608" />
        <activity android:name=".Ece_V_501" />
        <activity android:name=".Ece_V_502" />
        <activity android:name=".Ece_V_503" />
        <activity android:name=".Ece_V_504" />
        <activity android:name=".Ece_V_505" />
        <activity android:name=".Ece_V_506" />
        <activity android:name=".Ece_V_507" />
        <activity android:name=".Ece_V_508" />
        <activity android:name=".Ece_IV_401" />
        <activity android:name=".Ece_IV_402" />
        <activity android:name=".Ece_IV_403" />
        <activity android:name=".Ece_IV_404" />
        <activity android:name=".Ece_IV_405" />
        <activity android:name=".Ece_IV_406" />
        <activity android:name=".Ece_IV_407" />
        <activity android:name=".Ece_IV_408" />
        <activity android:name=".Me_VIII_801" />
        <activity android:name=".Me_VIII_802" />
        <activity android:name=".Me_VIII_803" />
        <activity android:name=".Me_VIII_804" />
        <activity android:name=".Me_VIII_805" />
        <activity android:name=".Me_VIII_806" />
        <activity android:name=".Me_VIII_807" />
        <activity android:name=".Me_VIII_808" />
        <activity android:name=".Me_VII_701" />
        <activity android:name=".Me_VII_702" />
        <activity android:name=".Me_VII_703" />
        <activity android:name=".Me_VII_704" />
        <activity android:name=".Me_VII_705" />
        <activity android:name=".Me_VII_706" />
        <activity android:name=".Me_VII_707" />
        <activity android:name=".Me_VII_708" />
        <activity android:name=".Me_VI_601" />
        <activity android:name=".Me_VI_602" />
        <activity android:name=".Me_VI_603" />
        <activity android:name=".Me_VI_604" />
        <activity android:name=".Me_VI_605" />
        <activity android:name=".Me_VI_606" />
        <activity android:name=".Me_VI_607" />
        <activity android:name=".Me_VI_608" />
        <activity android:name=".Me_V_501" />
        <activity android:name=".Me_V_502" />
        <activity android:name=".Me_V_503" />
        <activity android:name=".Me_V_504" />
        <activity android:name=".Me_V_505" />
        <activity android:name=".Me_V_506" />
        <activity android:name=".Me_V_507" />
        <activity android:name=".Me_V_508" />
        <activity android:name=".Me_IV_401" />
        <activity android:name=".Me_IV_402" />
        <activity android:name=".Me_IV_403" />
        <activity android:name=".Me_IV_404" />
        <activity android:name=".Me_IV_405" />
        <activity android:name=".Me_IV_406" />
        <activity android:name=".Me_IV_407" />
        <activity android:name=".Me_IV_408" />
        <activity android:name=".Aei_IV_401" />
        <activity android:name=".Aei_IV_402" />
        <activity android:name=".Aei_IV_403" />
        <activity android:name=".Aei_IV_404" />
        <activity android:name=".Aei_IV_405" />
        <activity android:name=".Aei_IV_406" />
        <activity android:name=".Aei_IV_407" />
        <activity android:name=".Aei_IV_408" />
        <activity android:name=".Aei_V_501" />
        <activity android:name=".Aei_V_502" />
        <activity android:name=".Aei_V_503" />
        <activity android:name=".Aei_V_504" />
        <activity android:name=".Aei_V_505" />
        <activity android:name=".Aei_V_506" />
        <activity android:name=".Aei_V_507" />
        <activity android:name=".Aei_V_508" />
        <activity android:name=".Aei_VI_601" />
        <activity android:name=".Aei_VI_602" />
        <activity android:name=".Aei_VI_603" />
        <activity android:name=".Aei_VI_604" />
        <activity android:name=".Aei_VI_605" />
        <activity android:name=".Aei_VI_606" />
        <activity android:name=".Aei_VI_607" />
        <activity android:name=".Aei_VI_608" />
        <activity android:name=".Aei_VII_701" />
        <activity android:name=".Aei_VII_702" />
        <activity android:name=".Aei_VII_703" />
        <activity android:name=".Aei_VII_704" />
        <activity android:name=".Aei_VII_705" />
        <activity android:name=".Aei_VII_706" />
        <activity android:name=".Aei_VII_707" />
        <activity android:name=".Aei_VII_708" />
        <activity android:name=".Aei_VIII_801" />
        <activity android:name=".Aei_VIII_802" />
        <activity android:name=".Aei_VIII_803" />
        <activity android:name=".Aei_VIII_804" />
        <activity android:name=".Aei_VIII_805" />
        <activity android:name=".Aei_VIII_808" />
        <activity android:name=".Aei_VIII_806" />
        <activity android:name=".Aei_VIII_807" />
        <activity android:name=".It_VIII_801" />
        <activity android:name=".It_VIII_802" />
        <activity android:name=".It_VIII_803" />
        <activity android:name=".It_VIII_804" />
        <activity android:name=".It_VIII_805" />
        <activity android:name=".It_VIII_806" />
        <activity android:name=".It_VIII_807" />
        <activity android:name=".It_VIII_808" />
        <activity android:name=".It_VII_701" />
        <activity android:name=".It_VII_702" />
        <activity android:name=".It_VII_703" />
        <activity android:name=".It_VII_704" />
        <activity android:name=".It_VII_705" />
        <activity android:name=".It_VII_706" />
        <activity android:name=".It_VII_707" />
        <activity android:name=".It_VII_708" />
        <activity android:name=".It_VI_601" />
        <activity android:name=".It_VI_602" />
        <activity android:name=".It_VI_603" />
        <activity android:name=".It_VI_604" />
        <activity android:name=".It_VI_605" />
        <activity android:name=".It_VI_606" />
        <activity android:name=".It_VI_607" />
        <activity android:name=".It_VI_608" />
        <activity android:name=".It_V_501" />
        <activity android:name=".It_V_502" />
        <activity android:name=".It_V_503" />
        <activity android:name=".It_V_504" />
        <activity android:name=".It_V_505" />
        <activity android:name=".It_V_506" />
        <activity android:name=".It_V_507" />
        <activity android:name=".It_V_508" />
        <activity android:name=".It_IV_401" />
        <activity android:name=".It_IV_402" />
        <activity android:name=".It_IV_403" />
        <activity android:name=".It_IV_404" />
        <activity android:name=".It_IV_405" />
        <activity android:name=".It_IV_406" />
        <activity android:name=".It_IV_407" />
        <activity android:name=".It_IV_408" />
        <activity android:name=".Eee_VIII_801" />
        <activity android:name=".Eee_VIII_802" />
        <activity android:name=".Eee_VIII_803" />
        <activity android:name=".Eee_VIII_804" />
        <activity android:name=".Eee_VIII_805" />
        <activity android:name=".Eee_VIII_806" />
        <activity android:name=".Eee_VIII_807" />
        <activity android:name=".Eee_VIII_808" />
        <activity android:name=".Eee_VII_701" />
        <activity android:name=".Eee_VII_702" />
        <activity android:name=".Eee_VII_703" />
        <activity android:name=".Eee_VII_704" />
        <activity android:name=".Eee_VII_705" />
        <activity android:name=".Eee_VII_706" />
        <activity android:name=".Eee_VII_707" />
        <activity android:name=".Eee_VII_708" />
        <activity android:name=".Eee_VI_601" />
        <activity android:name=".Eee_VI_602" />
        <activity android:name=".Eee_VI_603" />
        <activity android:name=".Eee_VI_604" />
        <activity android:name=".Eee_VI_605" />
        <activity android:name=".Eee_VI_606" />
        <activity android:name=".Eee_VI_607" />
        <activity android:name=".Eee_VI_608" />
        <activity android:name=".Eee_V_501" />
        <activity android:name=".Eee_V_502" />
        <activity android:name=".Eee_V_503" />
        <activity android:name=".Eee_V_504" />
        <activity android:name=".Eee_V_505" />
        <activity android:name=".Eee_V_506" />
        <activity android:name=".Eee_V_507" />
        <activity android:name=".Eee_V_508" />
        <activity android:name=".Eee_IV_401" />
        <activity android:name=".Eee_IV_402" />
        <activity android:name=".Eee_IV_403" />
        <activity android:name=".Eee_IV_404" />
        <activity android:name=".Eee_IV_405" />
        <activity android:name=".Eee_IV_406" />
        <activity android:name=".Eee_IV_407" />
        <activity android:name=".Eee_IV_408"></activity>

    </application>


</manifest>
